.logo {
    margin-left: 10%;
}

nav ul {
    margin-left: 10%;
}

nav li {
    width: auto;
}

nav a {
    padding: .7rem 1rem;
}

header h1,
header h2 {
    bottom: 5px;
    right: 10%;
}


main {
    margin: 0 10% 0 10%;
    padding: .7rem 1rem;;
}


/***** FOOTER *****/
footer {
    margin: 0 5%;
    padding: 0 5% 0 5%;
}